:root {
  --first_color: #212121;
  --first_color_50: rgba(33, 33, 33, 0.5);
  --first_color_25: rgba(33, 33, 33, 0.25);
  --second_color: #fafafa;
  --second_color_50: rgb(250, 250, 250, 0.5);
  --second_color_25: rgb(250, 250, 250, 0.25);
  --none_color: rgba(255, 255, 255, 0);
  --first_radius: 8px;
  --second_radius: 12px;
  --minimum_radius: 6px;
}

body {
  background-image: linear-gradient(
    to top,
    #d16ba5,
    #c777b9,
    #ba83ca,
    #aa8fd8,
    #9a9ae1,
    #8aa7ec,
    #79b3f4,
    #69bff8,
    #52cffe,
    #41dfff,
    #46eefa,
    #5ffbf1
  );
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.flex_center {
  justify-content: center;
  align-items: center;
}

.flex_row_box {
  display: flex;
  flex-direction: row;
}

.flex_column_box {
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
  font-family: "Fredoka";
  padding: 0;
  margin: 0;
  transition: 0.3s;
  cursor: default;
}

li {
  list-style: none;
}

.main_container {
  background-color: var(--first_color_25);
  backdrop-filter: blur(10px);
  height: 90vh;
  width: 95vw;
  border-radius: var(--second_radius);
  box-shadow: 0 0 5px 0px var(--first_color_50);
  padding: 6px;
}

.side_menu_container {
  background-color: var(--first_color_50);
  height: 100%;
  width: 250px;
  border-right: 2px solid var(--second_color);
  border-top-left-radius: var(--first_radius);
  border-bottom-left-radius: var(--first_radius);
  padding: 10px;
}

.side_menu {
  gap: 30px;
}

.side_menu p {
  font-size: 1.4rem;
  padding: 0 0 6px 0;
  color: var(--second_color);
}

.side_menu input,
.side_menu button {
  background-color: var(--second_color);
  padding: 5px 10px;
  font-size: 1.3rem;
  width: 225px;
  border-radius: var(--minimum_radius);
  border: none;
  outline: none;
  cursor: pointer;
  border: 2px solid var(--second_color);
}

.side_menu input:focus {
  border-color: var(--first_color);
  transform: scale(105%);
}

.side_menu button {
  padding: 5px 10px;
  font-size: 1.4rem;
  font-weight: 500;
  outline: 2px solid var(--second_color);
}

.side_menu button:hover {
  transform: scale(105%);
  background-color: var(--first_color);
  color: var(--second_color);
  outline-color: var(--first_color);
  border-color: var(--second_color);
}

.todos_container {
  background-color: var(--first_color_50);
  height: 100%;
  width: 100%;
  border-top-right-radius: var(--first_radius);
  border-bottom-right-radius: var(--first_radius);
  padding: 10px;
}

.todos_container header {
  width: 100%;
  padding: 0 0 15px 5px;
  border-bottom: 2px solid var(--second_color);
}

.todos_container_header li,
.todo_item li {
  font-size: 1.5rem;
  color: var(--second_color);
}

.todos_container_header li:nth-child(1),
.todo_item li:nth-child(1) {
  width: 35%;
}
.todos_container_header li:nth-child(2),
.todo_item li:nth-child(2) {
  width: 25%;
}
.todos_container_header li:nth-child(3),
.todo_item li:nth-child(3) {
  width: 25%;
}
.todos_container_header li:nth-child(4),
.todo_item li:nth-child(4) {
  width: 15%;
}

.reset_all {
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.reset_all:hover {
  /* transform: scale(120%); */
  animation: 3s whirl infinite linear;
}

@keyframes whirl {
  100% {
    transform: rotate(360deg);
  }
}

.todo_item {
  padding: 10px 0 10px 5px;
  border-bottom: 2px solid var(--second_color_50);
}

.todo_item button {
  color: var(--second_color);
  background-color: red;
  border: none;
  border-radius: var(--minimum_radius);
  font-weight: 500;
  padding: 2px 5px;
  cursor: pointer;
}

.todo_item button:hover {
  transform: scale(110%);
  box-shadow: 2px 2px 4px 0 var(--first_color_50);
}

.todo_item button:nth-child(1) {
  background-color: green;
  padding-bottom: 5px;
}

.buttons_container {
  gap: 15px;
}
